# dependencies
/node_modules
jspm_packages
/.pnp
.pnp.js
.next

# Logs
logs
*.log
npm-debug.log*
.npm

/build

cache

# env
.env
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
